@{
    ViewData["Title"] = "Booking Error";
}

<div class="container text-center mt-5 mb-5 pb-5">
    <h1 class="text-danger">Booking Error</h1>
    <p class="lead">You must be logged in as a Tourist to book a travel package.</p>
    <a href="/Identity/Account/Login" class="btn btn-primary mt-3">Login Now</a>
</div>
